[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pelican = "*"
beautifulsoup4 = "*"
typogrify = "*"
Markdown = "*"
yapf = "*"
flake8 = "*"
jedi = "*"

[packages]
pygments-style-github = "*"
Pygments = "*"
pelican-minify = "*"

[requires]
python_version = "3.8"
