{{ define "main" }}
{{ $reg := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
<main>
  <article>
    <div class="article-title">
      <h1>{{ .Title }}</h1>
      {{- if and (or ($reg.Prev .) ($reg.Next .)) (not .Params.isbyai) -}}
        <a href="https://notbyai.fyi" target="_blank">
          <img
            id="not-by-ai-logo"
            width="131" height="42"
            src="https://notbyai.fyi/img/written-by-human-not-by-ai-black.svg"
            loading="lazy" alt="Written by Human, Not by AI">
        </a>
      {{- end -}}
    </div>
    {{ if and (or ($reg.Prev .) ($reg.Next .)) (or .Date .Params.tags .Params.categories) }}
      <p class="article-info">
        <b>
          {{ if .Params.unlisted }}
            <span class="unlisted-notice" title="This post is not published on the homepage or in the RSS feed.">
              Unlisted Pre-Print</span>
          {{ end }}
          Posted
          {{ if .Date }}
            on <time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>
          {{ end }}
          {{ with .Params.categories }}
            in
            {{ range first 1 . }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
            {{- range after 1 . -}}
              , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
          {{ end }}
        </b>
        {{ with .WordCount }}
          • {{ . }} words
        {{ end }}
        {{ with .ReadingTime }}
          • {{ . }} minute read
        {{ end }}
        {{ with .Params.tags }}
          <br>
          Tags:
          {{ range first 1 . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
          {{- range after 1 . -}}
            , <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
        {{ end }}
      </p>
    {{ end }}
    <div class="content">
      {{ .Content }}
    </div>
  </article>
</main>
<div class="next-prev">
  {{ with $reg.Prev . }}
    {{ if not .Params.unlisted }}
      <a class="prev" href="{{ .Permalink }}" title="{{ .Title }}">« {{ .Title | truncate 50 "..." }}</a>
    {{ end }}
  {{ end }}
  {{ with $reg.Next . }}
    {{ if not .Params.unlisted }}
      <a class="next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | truncate 50 "..." }} »</a>
    {{ end }}
  {{ end }}
</div>
{{ if and (or ($reg.Prev .) ($reg.Next .)) (.Site.Params.issoUrl) }}
  {{ partial "sidebar.html" . }}
  {{ partial "webring.html" . }}
  <aside class="comments">
    <div class="header">
      <h3>COMMENTS</h3>
      <span class="attribution">
        Powered by
        <a href="https://isso-comments.de/" target="_blank" rel="external">Isso</a>
      </span>
    </div>
    <!-- Isso -->
    <script
        data-isso="//{{ .Site.Params.issoUrl }}"
        data-isso-css="false"
        {{ range $k, $v := .Site.Params.issoOptions }}
          data-isso-{{ $k }}="{{ $v }}"
        {{ end }}
        src="//{{ path.Join .Site.Params.issoUrl "/js/embed.min.js" }}"
    ></script>
    <section id="isso-thread" data-title="{{ .Title }}">
      <noscript>Please enable JavaScript to view comments.</noscript>
    </section>
    <!-- End Isso -->
  </aside>
{{ end }}
{{ end }}
