<article>
  <div class="article-title">
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  </div>
  <p class="article-info">
    <b>
      Posted on
      <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
      {{ with .Params.categories }}
        in
        {{ range first 1 . }}
          <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
        {{- range after 1 . -}}
          , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
      {{ end }}
    </b>
    {{ with .WordCount }}
      • {{ . }} words
    {{ end }}
    {{ with .ReadingTime }}
      • {{ . }} minute read
    {{ end }}
    {{ with .Params.tags }}
      <br>
      Tags:
      {{ range first 1 . }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
      {{- range after 1 . -}}
        , <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
    {{ end }}
  </p>
  <div class="post-summary">
    {{ $image := .Resources.Get .Params.image }}
    {{- if $image -}}
      {{ $smallimage := $image.Resize "400x webp" }}
      {{ $bigimage := $image.Resize "800x webp" }}
      <div class="summary-image">
        <img
          width="{{ $bigimage.Width }}" 
          src="{{ $bigimage.RelPermalink }}"
          srcset="{{ $smallimage.RelPermalink }} 400w, {{ $bigimage.RelPermalink }} 800w"
        />
      </div>
    {{- else if .Params.image -}}
      <div class="summary-image">
      <img width="400" src="{{ .Permalink }}/{{ .Params.image }}" />
      </div>
    {{- end -}}
    <p class="summary-text">
      {{ .Summary }}
      {{ if .Truncated }}
        <a href="{{ .Permalink }}">Read more...</a>
      {{- end -}}
    </p>
  </div>
</article>
