@font-face {
  font-family: 'Iosevka Term';
  src: url('fonts/Iosevka-Term.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Iosevka-Term.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Iosevka-Term.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

a {
  transition: color 0.2s;
}

aside div img {
  max-width: 200px;
}

@media screen and (min-width: 768px) {
  aside {
    width: 30%;
  }
  main {
    width: 70%;
    left: 30%;
  }
}

.clear-wrapper:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

/* Portfolio */
.portfolio-item {
  border: 1px solid lighten(black, 80%);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  margin: 12px 0;
  padding: 10px;
  max-width: 900px;

  .thumbnail {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto 10px auto;

    @media screen and (min-width: 768px) {
      max-width: 200px;
      max-height: 200px;
      float: left;
      width: 23%;
    }
  }

  .content {
    position: relative;

    @media screen and (min-width: 768px) {
      float: right;
      width: 73%;
    }

    .video-container {
      position:relative;
      padding-bottom:56.25%;
      padding-top:30px;
      height:0;
      overflow:hidden;

      iframe, object, embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
    }

    h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 1.4em;
      font-weight: bold;

      .trophy {
        color: #d4af37;
        margin-right: 5px;
      }

      .gh-logo {
        text-decoration: none;
        margin: 0 10px;
      }

      .dates {
        float: right;
        font-size: 0.6em;
        line-height: 1.6em;
      }
    }

    h3 {
      text-align: left;
      margin-top: -10px;
      font-size: 1.2em;
    }

    .live-demo {
      font-weight: bold;
    }

    .expand-link {
      width: 120px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
    }

    a {
      z-index: 1001;
    }
  }

  .tags {
    margin-bottom: 10px;
    line-height: 1.5em;

    .tag-label {
      font-weight: bold;
    }

    span:not(.tag-label):not(.caps) {
      color: black;
      font-family: 'Iosevka Term', monospace;
      background-color: #adcfff;
      padding: 0 5px;
      margin-top: 3px;
      display: inline-block;
    }

    td {
      border-top: none;
      line-height: 1.5em;
    }
  }

  &.collapsed {
    max-height: 100px;

    .thumbnail {
      max-width: 100px;
      max-height: 100px;
      width: 15%;
      float: left;
    }

    .content {
      width: 80%;
      max-height: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      float: right;

      h2 {
        font-size: 1.15em;
      }
      h3 {
        font-size: 1em;
      }

      .expand-link {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0.25turn, transparent 0%, white 25%, white 75%, transparent 100%);
        padding: 3px 35px;
      }
    }
  }
}

/* Image Galleries */
.gallery {
  text-align: center;

  tr {
    max-width: 60%;

    td {
      vertical-align: middle;
    }
  }

  img {
    padding: 5px;
  }
}

/* Custom theming for admonitions */
div.admonition {
  margin-bottom: 1.5rem;

  p.admonition-title {
    margin-bottom: 0.8rem;
  }
}

.strike {
  text-decoration: line-through;
}

.field-list .field .field-name {
  text-align: right;
}

/* Isso Comments */
#isso-thread .auth-section .input-wrapper {
  margin-right: 5px;
}

/* Dark Theme */
@mixin dark-mode-rules {
  $base-grey: #333;
  $dark-grey: #222;
  $darkest-grey: #1a1a1a;
  $off-white: #eee;
  $dark-white: #aaa;

  main {
    background-color: $base-grey;
    color: $off-white;

    a {
      color: #ff3c0f;
    }

    a.btn {
      color: $off-white;
    }

    .tag-cloud a {
      color: $off-white;
    }

    nav {
      border-bottom-color: $dark-grey;

      a {
        border-right-color: $dark-grey;
      }
    }

    article {
      header p {
        color: $dark-white;
      }

      hr {
        color: $dark-grey;
        background-color: $dark-grey;
      }

      .related-posts {
        border-bottom-color: $dark-grey;
        border-top-color: $dark-grey;
      }
    }

    // Override the pygments highlight color.
    pre, div.highlight {
      background-color: $dark-grey;
    }
  }

  aside {
    background-color: $dark-grey;
  }

  section#isso-thread {
    div.textarea,
    .auth-section p.input-wrapper input,
    .notification-section input {
      background: $darkest-grey;
      color: $off-white;
    }
  }

  .portfolio-item.collapsed .content .expand-link {
    background: linear-gradient(0.25turn, transparent 0%, $base-grey 25%, $base-grey 75%, transparent 100%);
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.light_theme) {
    @include dark-mode-rules;
  }
}

body.dark_theme {
  @include dark-mode-rules;
}
