{{- /*
Renders an embedded YouTube video using the https://github.com/justinribeiro/lite-youtube.

@param {string} [id] The video id. Optional if the id is provided as first positional argument.
@param {string} [class] The class attribute of the wrapping div element. When specified, removes the style attributes from the iframe element and its wrapping div element.
@param {bool} [allowFullScreen=true] Whether the iframe element can activate full screen mode.
@param {bool} [controls=true] Whether to display the video controls.
@param {int} [end] The time, measured in seconds from the start of the video, when the player should stop playing the video.
@param {bool} [loop=false] Whether to indefinitely repeat the video. Ignores the start and end arguments after the first play.
@param {bool} [mute=false] Whether to mute the video.
@param {int} [start] The time, measured in seconds from the start of the video, when the player should start playing the video.

@returns {template.HTML}

@reference https://github.com/justinribeiro/lite-youtube
@reference https://developers.google.com/youtube/player_parameters

@example {{< youtube 0RKpf3rK57I >}}
@example {{< youtube id=0RKpf3rK57I start=30 >}}
*/}}

{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
{{- $host := cond $pc.PrivacyEnhanced "www.youtube-nocookie.com" "www.youtube.com" -}}

{{/* Set defaults. */}}
{{- $fs := 1 }}
{{- $controls := 1 }}
{{- $loop := 0 }}
{{- $mute := 0 }}

{{- if in (slice "false" false 0) (.Get "allowFullScreen") }}
  {{- $fs = 0 }}
{{- else if in (slice "true" true 1) (.Get "allowFullScreen") }}
  {{- $fs = 1 }}
{{- end }}

{{- if in (slice "false" false 0) (.Get "controls") }}
  {{- $controls = 0 }}
{{- else if in (slice "true" true 1) (.Get "controls") }}
  {{- $controls = 1 }}
{{- end }}

{{- if in (slice "false" false 0) (.Get "loop") }}
  {{- $loop = 0 }}
{{- else if in (slice "true" true 1) (.Get "loop") }}
  {{- $loop = 1 }}
{{- end }}

{{- if in (slice "false" false 0) (.Get "mute") }}
  {{- $mute = 0 }}
{{- else if in (slice "true" true 1) (.Get "mute") }}
  {{- $mute = 1 }}
{{- end }}

{{- $id := or (.Get "id") (.Get 0) -}}
<lite-youtube
  videoid="{{ $id }}"
  {{- with .Get "start" }}videoStartAt="{{ . }}"{{ end -}}
  {{- with .Get "class" }}class="{{ . }}"{{ end -}}
  {{- with $pc.PrivacyEnhanced }}nocookie=""{{ end -}}
  params="controls={{ $controls }}&fs={{ $fs }}&loop={{ $loop }}&mute={{ $mute }}{{ with .Get "end" }}&end={{ . }}{{ end }}"
>
<div class="lite-youtube-fallback">
<a href="https://{{ $host }}/watch?v={{ $id }}">{{- partial "icons/icon" (dict "vendor" "tabler" "name" "outline/brand-youtube") -}} Watch on YouTube</a>
</div>
</lite-youtube>
{{- end -}}
