{{- $respSizes := slice "800" "600" "400" "200" -}}
{{- $alt := or .Title .Text -}}

{{ if .Text }}
  <figure>
{{ end }}
  {{- with or (.Page.Resources.Get .Destination) (resources.Get .Destination) -}}
    {{ if gt .Width 4000 }}
      <a href="{{ ( .Resize "4000x webp" ).RelPermalink }}" target="_blank">
    {{ else }}
      <a href="{{ ( .Process "webp" ).RelPermalink }}" target="_blank">
    {{ end }}
      <picture>
        {{- $imgRsc := . -}}
        {{- range $respSizes -}}
          {{- if ge $imgRsc.Width . -}}
            <source
              type="image/webp"
              media="(min-width: {{ . }}px)"
              srcset="{{- ($imgRsc.Resize (print . "x webp photo") ).RelPermalink -}}"
            >
          {{- end -}}
        {{- end -}}
        {{ with .Resize "800x webp" }}
          <img
            loading="lazy"
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            {{- with $alt }}
              alt="{{ . }}"
            {{- end -}}
          >
        {{ end }}
      </picture>
    </a>
  {{- else -}}
    <a href="{{ .Destination | safeURL }}" target="_blank">
      <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ $alt }}">
    </a>
  {{- end -}}
{{ if .Text }}
    <figcaption><b>{{ .Text | safeHTML }}</b></figcaption>
  </figure>
{{ end }}
