.admonition {
  a {
    filter: brightness(0.6);

    &:hover,
    &:active,
    &:focus {
      filter: brightness(0.2);
    }
  }

  margin: 1em 0;
  border-radius: 0.5em;

  .admonition-title {
    font-weight: bold;
    font-size: 1.1em;

    display: flex;
    align-items: center;
    gap: 0.5em;

    p {
      margin-top: 1rem;
    }
  }

  padding: 0 1em;

  // By default, make it look like a note.
  border: 1px solid var(--admonition-default-color);
  color: var(--admonition-default-color);
  background-color: var(--admonition-default-bg-color);

  a {
    color: var(--admonition-default-color);
  }

  // Specifics for each type of admonition
  &.attention {
    border: 1px solid var(--admonition-attention-color);
    color: var(--admonition-attention-color);
    background-color: var(--admonition-attention-bg-color);

    a {
      color: var(--admonition-attention-color);
    }
  }

  &.caution {
    border: 1px solid var(--admonition-caution-color);
    color: var(--admonition-caution-color);
    background-color: var(--admonition-caution-bg-color);

    a {
      color: var(--admonition-caution-color);
    }
  }

  &.danger {
    border: 1px solid var(--admonition-danger-color);
    color: var(--admonition-danger-color);
    background-color: var(--admonition-danger-bg-color);

    a {
      color: var(--admonition-danger-color);
    }
  }

  &.error {
    border: 1px solid var(--admonition-error-color);
    color: var(--admonition-error-color);
    background-color: var(--admonition-error-bg-color);

    a {
      color: var(--admonition-error-color);
    }
  }

  &.hint {
    border: 1px solid var(--admonition-hint-color);
    color: var(--admonition-hint-color);
    background-color: var(--admonition-hint-bg-color);

    a {
      color: var(--admonition-hint-color);
    }
  }

  &.important {
    border: 1px solid var(--admonition-important-color);
    color: var(--admonition-important-color);
    background-color: var(--admonition-important-bg-color);

    a {
      color: var(--admonition-important-color);
    }
  }

  &.tip {
    border: 1px solid var(--admonition-tip-color);
    color: var(--admonition-tip-color);
    background-color: var(--admonition-tip-bg-color);

    a {
      color: var(--admonition-tip-color);
    }
  }

  &.warning {
    border: 1px solid var(--admonition-warning-color);
    color: var(--admonition-warning-color);
    background-color: var(--admonition-warning-bg-color);

    a {
      color: var(--admonition-warning-color);
    }
  }

  &.definition {
    border: 1px solid var(--admonition-definition-color);
    color: var(--admonition-definition-color);
    background-color: var(--admonition-definition-bg-color);

    a {
      color: var(--admonition-definition-color);
    }
  }
}
