@mixin dark-mode-styles {
  .admonition a {
    filter: brightness(1.15);

    &:hover,
    &:active,
    &:focus {
      filter: brightness(1.4);
    }
  }

  --fg-color: #dadada;
  --bg-color: #282828;
  --subtitle-color: #999;

  --link-color: #84b4ff;
  --link-active-color: #a5c8ff;
  --link-disabled-color: #909090;

  --button-bg-color: #dadada;
  --button-fg-color: #282828;
  --button-active-bg-color: #fff;
  --button-active-fg-color: #000;

  --figure-bg-color: #ffffff18;
  --preformatted-bg-color: #ffffff18;

  --search-container-bg-color: #1a1a1a;
  --search-container-fg-color: #eee;
  --search-container-sep-color: #000;
  --search-container-active-indicator-color: #84b4ff;

  --expander-summary-color: #202020;

  --table-border-color: #fff;
  --table-nth-child-bg-color: #444;

  --image-opacity: 0.7;

  --admonition-default-color: #7abaff;
  --admonition-default-bg-color: #001933;
  --admonition-attention-color: #fbda7a;
  --admonition-attention-bg-color: #4a3900;
  --admonition-danger-color: #ebadb3;
  --admonition-danger-bg-color: #28070a;
  --admonition-important-color: #a8eab7;
  --admonition-important-bg-color: #122b18;
  --admonition-definition-color: #dadada;
  --admonition-definition-bg-color: #202020;

  --isso-thread-heading-color: #eee;
  --isso-preview-background: repeating-linear-gradient(-45deg, #0a0a0a, #0a0a0a 10px, #111 10px, #111 20px);
  --isso-comment-meta-color: #aaa;
  --isso-author-color: #eee;
  --isso-input-bg-color: #111;
  --isso-input-color: #eee;
  --isso-post-action-color: #eee;
  --isso-post-action-bg-color: #111;
  --isso-post-action-bg-hover-color: #080808;
  --isso-post-action-bg-active-color: #000;
  --isso-target-fade-color: #3f3c1c;
}

@media (prefers-color-scheme: no-preference),
(prefers-color-scheme: dark) {
  body:not(.light-theme) {
    @include dark-mode-styles;
    @import 'chroma/onedark';
  }

  body.light-theme {
    @import 'chroma/pygments';
  }
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) {
    @import 'chroma/pygments';
  }

  body.dark-theme {
    @include dark-mode-styles;
    @import 'chroma/onedark';
  }
}
