@mixin dark-mode-styles-legacy {
  section#isso-thread {

    .isso-auth-section p.isso-input-wrapper input,
    .isso-notification-section input {
      background: #111;
      color: #eee;
    }

    .isso-postbox>.isso-form-wrapper {
      .isso-textarea {
        background: #111;
        color: #eee;
      }

      .isso-preview {
        background: repeating-linear-gradient(-45deg,
            #0a0a0a, #0a0a0a 10px,
            #111 10px, #111 20px);
      }
    }

    .isso-comment>div.isso-text-wrapper {
      >.isso-comment-header {
        .isso-author {
          color: #eee;
        }

        .isso-spacer,
        .isso-note {
          color: #aaa;
        }
      }
    }

    .isso-post-action input {
      background-color: #111;
      color: #eee;
    }
  }
}
