{{ define "main" }}
<main>
  {{ $paginator := .Paginate (partial "func/FilterPages" (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)) }}
  {{- range $i, $p := .Paginator.Pages -}}
    <article>
      <div class="article-title">
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      </div>
      <p class="article-info">
        <b>
          Posted on
          <time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>
          {{ with .Params.categories }}
            in
            {{ range first 1 . }}
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
            {{- range after 1 . -}}
              , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
          {{ end }}
        </b>
        {{ with .WordCount }}
          • {{ . }} words
        {{ end }}
        {{ with .ReadingTime }}
          • {{ . }} minute read
        {{ end }}
        {{ with .Params.tags }}
          <br>
          Tags:
          {{ range first 1 . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
          {{- range after 1 . -}}
            , <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
        {{ end }}
      </p>
      <div class="post-summary">
        {{- with .Resources.Get .Params.image -}}
          <div class="summary-image">
            <picture>
              {{ with .Resize "250x webp" }}
                <!-- This is the small summary image when displayed to the left of the article. -->
                <source
                  type="image/webp"
                  media="(min-width: 600px)"
                  srcset="{{ .RelPermalink }}"
                />
              {{ end }}

              <!-- These are the responsive sizes for when the image is displayed above the article. -->
              {{- $respSizes := slice "200" "400" -}}
              {{ $imgRsc := . }}
              {{- range $respSizes -}}
                {{- if ge $imgRsc.Width . -}}
                  <source
                    type="image/webp"
                    media="(max-width: {{ . }}px)"
                    srcset="{{- ($imgRsc.Resize (print . "x webp photo") ).RelPermalink -}}"
                  />
                {{- end -}}
              {{- end -}}

              <!-- This is the fallback size. -->
              {{ with .Resize "600x webp" }}
                <img
                  {{ if gt $i 0 }}
                    loading="lazy"
                  {{ end }}
                  src="{{ .RelPermalink }}"
                  width="{{ .Width }}"
                  height="{{ .Height }}"
                  alt=""
                  aria-hidden="true"
                />
              {{ end }}
            </picture>
          </div>
        {{- else with .Params.image -}}
          <div class="summary-image">
            <img
              {{ if gt $i 0 }}
                loading="lazy"
              {{ end }}
              alt=""
              width="400"
              src="{{ $.Permalink }}{{ . }}"
              aria-hidden="true"
            />
          </div>
        {{- end -}}
        <div class="summary-text">
          <div class="summary">
            {{ .Summary }}
          </div>
          <div>
            <a href="{{ .Permalink }}">Read more »</a>
          </div>
        </div>
      </div>
    </article>
  {{ end }}
  {{ partial "pagination.html" . }}
</main>
{{ end }}
